# ============================================================
# IDE
# ============================================================
.idea/

# ============================================================
# PHP / COMPOSER
# ============================================================
vendor/
composer.phar
.env
.env.local

# ============================================================
# SYSTEM
# ============================================================
.DS_Store
Thumbs.db

# ============================================================
# LOGS
# ============================================================
*.log
log/

# ============================================================
# OTHERS
# ============================================================
